In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import pylab

In [2]:
pylab.rcParams['figure.figsize'] = 10, 8
%matplotlib inline

In [3]:
df = pd.read_csv('./data/data_cleaned/combined_data_state_level_from_1992.csv')

In [4]:
df.isnull().sum()

state                      0
year                       0
enroll                    51
total_revenue              0
total_expenditure          0
expenditure_per_pupil     51
population                 0
gdp_per_capita           255
state_tax_collection     120
income_per_capita          0
known_property_crimes      5
unemployment_rate          0
dtype: int64

# Deal with NaNs using pchip

In [5]:
for s in df.state.unique():
    df[df.state == s] = df[df.state == s].interpolate(method = 'pchip',limit_direction = 'both')

In [6]:
df.head()

,state,year,enroll,total_revenue,total_expenditure,expenditure_per_pupil,population,gdp_per_capita,state_tax_collection,income_per_capita,known_property_crimes,unemployment_rate
0,Alabama,1992,7.203800e+05,2678885,2653798,3616.0,4139269.0,31568.187354,1.647790e+08,17537,163966.0,0.075667
1,Alaska,1992,1.176000e+05,1049591,972488,8450.0,587073.0,48253.235885,2.000250e+08,23938,28394.0,0.089167
2,Arizona,1992,6.390064e+05,3258079,3401580,4381.0,3867333.0,26972.352302,2.108240e+08,18129,235883.0,0.075417
3,Arkansas,1992,3.127418e+05,1711959,1743022,4031.0,2394098.0,33650.742025,1.255250e+08,16451,100069.0,0.070917
4,California,1992,8.496892e+06,26260025,27138832,4746.0,30875920.0,51439.890372,4.518418e+09,22644,1715360.0,0.093000

In [7]:
df.isnull().sum()

state                      0
year                       0
enroll                     0
total_revenue              0
total_expenditure          0
expenditure_per_pupil      0
population                 0
gdp_per_capita             0
state_tax_collection     120
income_per_capita          0
known_property_crimes      0
unemployment_rate          0
dtype: int64

# Drop State_Tax_Collection

In [8]:
df =df.drop('state_tax_collection', axis = 1)

In [9]:
df.head()

,state,year,enroll,total_revenue,total_expenditure,expenditure_per_pupil,population,gdp_per_capita,income_per_capita,known_property_crimes,unemployment_rate
0,Alabama,1992,7.203800e+05,2678885,2653798,3616.0,4139269.0,31568.187354,17537,163966.0,0.075667
1,Alaska,1992,1.176000e+05,1049591,972488,8450.0,587073.0,48253.235885,23938,28394.0,0.089167
2,Arizona,1992,6.390064e+05,3258079,3401580,4381.0,3867333.0,26972.352302,18129,235883.0,0.075417
3,Arkansas,1992,3.127418e+05,1711959,1743022,4031.0,2394098.0,33650.742025,16451,100069.0,0.070917
4,California,1992,8.496892e+06,26260025,27138832,4746.0,30875920.0,51439.890372,22644,1715360.0,0.093000

In [10]:
df.isnull().sum()

state                    0
year                     0
enroll                   0
total_revenue            0
total_expenditure        0
expenditure_per_pupil    0
population               0
gdp_per_capita           0
income_per_capita        0
known_property_crimes    0
unemployment_rate        0
dtype: int64

In [11]:
#df.to_csv('./data/data_cleaned/combined_data_state_level_na_filled_from_1992.csv', index = False)