In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

# Introduction  
This jupyter notebook is to take a general data exploration to get sense of how the data looks like

## Data List

In [3]:
dataFolder = '/home/yulu/MLData/'
fileFinanceMain = 'elsect_main.csv'
fileFinanceSum = 'elsect_summary.csv'
filePop19 = 'POP1990.csv'
filePop20 = 'POP2000.csv'
popTypes = {'year': np.uint16, 'stname': object,  'tot_pop':np.uint32}

In [5]:
df_Pop20 = pd.read_csv(dataFolder + filePop20, usecols=popTypes.keys(), dtype=popTypes)

In [24]:
gg = df_Pop20.groupby(['stname', 'year']).sum()

In [35]:
gg.head()

              tot_pop
stname  year
Alabama 2000  4452173
        2001  4467634
        2002  4480089
        2003  4503491
        2004  4530729